station_key,latitude,longitude,needs_review,match_score,waqi_uid,waqi_name,attribution_url,attribution_name,last_updated
alejakrasinskiegokrakowmaopolskaairquality,,,1,0,,,,,
alexandranaqicityofjohannesburgairquality,,,1,0,,,,,
amsterdamairquality,,,1,0,,,,,
antalyaairquality,,,1,0,,,,,
aristotelousairquality,,,1,0,,,,,
avdfranciavalenciavalenciaairquality,,,1,0,,,,,
barcelonapalaureialcatalunyaairquality,,,1,0,,,,,
beijingairquality,,,1,0,,,,,
beograddragisamisovicairquality,,,1,0,,,,,
birminghama4540roadsideairquality,,,1,0,,,,,
brnoarboretumjihomoravskyairquality,,,1,0,,,,,
bursaairquality,,,1,0,,,,,
bursakestelairquality,,,1,0,,,,,
campodemartelimaairquality,,,1,0,,,,,
danmarksplassbergennorwayairquality,,,1,0,,,,,
debrecenkalotaszegterdebrecenairquality,,,1,0,,,,,
delhianandviharairquality,,,1,0,,,,,
dunpomyeonchungnamairquality,,,1,0,,,,,
frankfurtschwanheimairquality,,,1,0,,,,,
hipodrumasofiaairquality,,,1,0,,,,,
itodelhiairquality,,,1,0,,,,,
izmirguzelyaliairquality,,,1,0,,,,,
izmirkarsiyakaairquality,,,1,0,,,,,
kirkeveienoslonorwayairquality,,,1,0,,,,,
kurlamumbaiairquality,,,1,0,,,,,
londonairquality,,,1,0,,,,,
lyoncentreairquality,,,1,0,,,,,
madridairquality,,,1,0,,,,,
marseillerabataupacaairquality,,,1,0,,,,,
marszakowskawarszawamazowieckieairquality,,,1,0,,,,,
mercedmexicoairquality,,,1,0,,,,,
munichairquality,,,1,0,,,,,
nisegwalpaharigurugramairquality,,,1,0,,,,,
northhollywoodlosangelescaliforniaairquality,,,1,0,,,,,
parisairquality,,,1,0,,,,,
parquedpedroiisaopauloairquality,,,1,0,,,,,
rotterdamairquality,,,1,0,,,,,
salfordecclesairquality,,,1,0,,,,,
seonghwangdongcheonansichungnamairquality,,,1,0,,,,,
shhyeairquality,,,1,0,,,,,
sternschanzehamburgairquality,,,1,0,,,,,
stockholmsveavagen59gataairquality,,,1,0,,,,,
strdrumultabereidrumultabereiairquality,,,1,0,,,,,
truckeefirestationnevadacaliforniaairquality,,,1,0,,,,,
